:root {
    --main-btn-color: rgb(252, 128, 46);
    --dark-btn-color: rgb(248, 138, 64);
}

body {
    margin: 0;
}

.whole-page-wrap {
    background-color: rgb(244, 253, 255);
    transition: .5s ease;
}

.whole-page-dark {
    background: rgb(25, 25, 27);
}

.main {
    margin: 0 15px;
}

@media only screen and (min-width: 1200px) {
    body {
        margin: 0 10px;
        background: url(../images/Endless-Constellation-light.svg);
    }

    .body::after {
        background: url(../images/Endless-Constellation-dark.svg);
    }

    .dark-body {
        background: url(../images/Endless-Constellation-dark.svg);
    }
    
    .whole-page-wrap {
        max-width: 1450px;
        margin: 25px auto;
        border-radius: 7px;
        overflow: hidden;
        animation: .6s rotate-main .7s backwards;
        transform: scale3d(1, 1, 1) rotate(0);
    }

    @keyframes rotate-main {
        from {
            transform: scale3d(.3, .3, .3) rotate(-360deg);
        }
        to {
            transform: scale3d(1, 1, 1) rotate(0);
        }      
    }

    .whole-permanent {
        animation: none;
    }
}