.main-section {
    opacity: 1;
    transition: .5s ease;
    margin-bottom: 15px;
}

.main-section * {
    box-sizing: border-box;
}

.blur {
    opacity: 0;
}

.main-section-h1 {
    font-family: 'Sarpanch', sans-serif;
    font-weight: bold;
    position: relative;
    max-width: 250px;
    font-size: 45px;
    text-transform: uppercase;
    text-align: center;
    padding: 25px 0 15px 0;
    margin: 0 auto 10px auto;
    color: rgb(76, 79, 105);
    transition: .5s ease;
}

.main-section-h1::after {
    content:'';
    position: absolute;
    width: 0px;
    height: 5px;
    bottom: 12%;
    left: 0;
    background-color: rgb(91, 95, 124);
    transition: 1s ease;
}

.h1-permanent::after {
    width: 100%
}

.h1-dark {
    color: rgb(208, 211, 219);
}

.h1-dark::after {
    background-color: rgb(182, 187, 202);
}