.nav {
    position: absolute;
    top: 10%;
    left: 2%;
    z-index: 2;
}

.nav-ul-wrapper {
    margin: 0 auto;
    position: relative;
    width: 185px;
    height: 185px;
    /*box-shadow: 0px 0px 4px 1px rgb(10, 18, 44);*/
    transition: .5s ease;
}

.nav-ul-wrapper-dark {
    color: rgb(243, 243, 243);
}

.nav-ul-wrapper > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 111px;
    height: 109px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    row-gap: 4px;
    column-gap: 4px;
    position: absolute;
    top: 46.5%;
    left: 49%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.nav-ul-wrapper ul > li {
    display: grid;
    justify-items: center;
    align-items: center;
    margin: 0;
    user-select: none;
}

.nav-ul-wrapper img {
    max-width: 45px
}

.nav-link {
    text-decoration: none;
    background: rgb(245, 160, 64);
    padding: 4px;
    border-radius: 10%;
    border: 1px solid rgb(58, 31, 0);
    transition: background .6s ease;
}

.nav-link-active {
    background: rgb(199, 237, 250);
    pointer-events: none;
    border: 1px solid rgb(3, 43, 56);
}

.nav-link:hover {
    background: rgb(255, 210, 174);
}

.nav-point {
    position: absolute;
    box-sizing: border-box;
    width: 185px;
    height: 185px;
    transform: rotate(45deg);
    top:0;
    border-radius: 50%;
    transition: .7s ease;
    box-shadow: 0px 0px 4px 1px rgb(10, 18, 44);
    background:rgb(77, 87, 223);
}

.nav-point::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(221, 225, 236);
    box-shadow: 0px 0px 3px 3px rgb(96, 137, 252);
    top: 93px;
}

.nav-point-dark {
    background: rgb(55, 55, 58); 
    box-shadow: 0px 0px 4px 1px rgb(138, 139, 148);
}

@media only screen and (max-width: 1200px) {
    .nav {
        top: 100%;
        right: 0;
        left: auto;
        width: 100%;
    }
   
    .nav-ul-wrapper {
        display: flex;
        justify-content: center;
        border-radius: 0;
        height: 0; 
        overflow-x: hidden;
        box-shadow: none;
        width: 100%;
        background:rgb(93, 91, 240);
    }

    .nav-ul-wrapper-dark {
        background: rgb(55, 55, 58);;
    }
    /* Class used when displaying side menu (nav) on mobile view*/
    .nav-side-menu {
        height: 100vh;
    }
  
    .nav-ul-wrapper img {
        max-width: 70px;
    }

    .nav-ul-wrapper > ul {
        display: flex;
        flex-direction: column; 
        height: auto;
        top: 43%;
        left: 50%;
    }

    /* Class used when displaying side menu (nav) on mobile view*/
    .nav ul li {
        font-family: 'Roboto', sans-serif;
        margin-bottom: 10px;
    }

    .nav ul li:nth-child(1) {
        order: 1;
    }

    .nav ul li:nth-child(2) {
        order: 2;
    }

    .nav ul li:nth-child(3) {
        order: 4;
    }

    .nav ul li:nth-child(4) {
        order: 3;
    }

    .nav ul li:nth-child(1)::before {
        content: 'Profile';
    }

    .nav ul li:nth-child(2)::before {
        content: 'Skills';
    }

    .nav ul li:nth-child(3)::before {
        content: 'Contact';
    }

    .nav ul li:nth-child(4)::before {
        content: 'Projects';
    }


    .nav ul li::before {
        font-weight: bold;
        font-size: 17px;
    }

    .nav-link {
        opacity: 0;
        transform: translateY(-350%);
        transition: .7s ease;
    }

    .nav-link-menu {
        transform: translateY(0);
        opacity: 1;
    }

    .nav-point {
        display: none;
    }

}
