.projects-ul {
    padding: 0;
    margin: 0 10px;
    list-style-type: none;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-li {
    padding: 0;
    margin: 15px 15px 25px 15px;
    max-width: 100%;
}

.project-li > a {
    text-decoration: none;
}

.project-figure {
    margin: 0;
    padding: 0;
    border-radius: 7px;
    background-color:rgb(73, 27, 180);
    padding-bottom: 15px;
    box-shadow: 0px 1px 8px 1px rgb(87, 87, 87);
}

.project-li:nth-child(even) .project-figure {
    background-color: rgb(114, 57, 170);
}

.project-details {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: rgb(235, 235, 237);
    text-align: center;
    margin: 10px 5px 15px 5px;
}

.project-name {
    font-family: 'Roboto', sans-serif;
    display: block;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: .06em;
}

.project-li:nth-child(even) .project-img-wrap {
    border: 7px solid rgb(114, 57, 170);
}

.project-img-wrap {
    width: 437px;
    max-width: 100%;
    border: 7px solid rgb(73, 27, 180);
    border-radius: 7px 7px 0 0;
    animation: .8s center-image .5s backwards;
    opacity: 1;
    transform: translate(0, 0);
}

@keyframes center-image {
    from {
        opacity: 0;
        transform: translate(30%, 30%);
    }
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.img-centered {
    animation: none;
}

.project-img-wrap img {
    filter: brightness(.97);
}

.project-img-dark img {
    filter: brightness(.88)
}

.links-wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    width: 85.5%;
}

.website-link, .github-link {
    filter: brightness(1.1)
}

.github-link > img, .website-link > img {
    width: 55px;
    box-shadow: 0px 0px 6px 1px rgb(52, 58, 65);
}

@media only screen and (min-width: 1350px) {
    .projects-ul {
        width: 1400px;
        max-width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
        padding: 12px 0 10px 0;
    }

    .project-li {
        margin: 15px 15px 15px 15px;
    }

    .project-figure {
        position: relative;
        padding-bottom: 0;
        background-color: transparent;
    }

    .project-li:nth-child(even) .project-figure {
        background-color: transparent;
    }

    .project-details {
        font-size: 19px;
        margin: 5px 5px 5px 5px;
    }

    .project-name {
        font-size: 21px;
    }

    .project-li:nth-child(even) .project-img-wrap {
        border: 5px solid rgb(121, 59, 182);
    }

    .project-img-wrap {
        border-radius: 7px 7px 7px 7px;
        border: 5px solid rgb(81, 33, 194);
    }

    .project-figure::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 0;
        bottom:0;
        background-color: rgb(50, 50, 53);
        border-radius: 7px;
        opacity: .12;
        transition: .7s ease;
    }

    .project-figure:hover::after {
        height: 100%;
        opacity: .65;
    }

    .project-figure > .project-details {
        color: rgb(250, 250, 252);
        font-size: 20px;
        position: absolute;
        width: 100%;
        height: 0;
        bottom: 7%;
        transition: .4s ease;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        z-index: 1;
        cursor: default;
    }

    .project-figure:hover > .project-details {
        height: 100%;
    }

    .project-figure > .project-details > .project-name {
        color: rgb(255, 253, 136);
        font-size: 22px;
        display: block;
        margin-bottom: 7px;
        transform: translateY(100px);
        transition: .7s;
    }

    .project-figure:hover > .project-details > .project-name {
        transform: translateY(0);
    }

    .links-wrapper {
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        position: absolute;
        width: 50%;
        height: 0;
        bottom: 100%;
        left: 26%;
        z-index: 2;
        overflow: hidden;
        opacity: 0;
        transition: .3s ease;
    }

    .github-link, .website-link {
        opacity: 0;
        transition: .6s ease;
    }

    .github-link > img, .website-link > img {
        width: 60px;
        box-shadow: none;
    }

    .project-figure:hover > .links-wrapper {
        transition: .4s ease-out .4s;
        height: 50px;
        bottom: 21%;
        opacity: 1;
    }

    .project-figure:hover .website-link {
        opacity: 1;
    }

    .project-figure:hover .github-link {
        opacity: 1;
    }

    .github-link > img, .website-link > img {
        width: 50px;
    }

    .github-link:hover, .website-link:hover {
        filter: brightness(1.35);
    }

}